<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.bh.b4.member.MemberDAO">
  
  	<update id="setUpdate" parameterType="MemberDTO">
  		update member set pw=#{pw}, phone=#{phone}, email=#{email} where id=#{id}
  	</update>
  
  	<delete id="setDelete" parameterType="MemberDTO">
  		delete member where id = #{id}
   	</delete>
  	
  	<insert id="setJoin" parameterType="MemberDTO">
  		insert into member values(#{id}, #{pw}, #{name}, #{phone}, #{email})
  	</insert>
  	
  	<select id="getLogin" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT * FROM MEMBER WHERE ID = #{id} and PW = #{pw}
  	</select>
  	
  	<select id="getIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT ID FROM MEMBER WHERE ID = #{id}
  	</select>
  
  	
  </mapper>