<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.bh.b4.board.notice.NoticeDAO">
  	
  	
  	<select id="getComments" resultType="CommentsDTO">
  		SELECT * FROM COMMENTS
  	</select>
  	
  	<insert id="setComments" parameterType="CommentsDTO">
  		INSERT INTO COMMENTS VALUES(COMMENTS_SEQ.NEXTVAL, #{num}, #{writer}, #{contents}, SYSDATE, #{board})
  	</insert>
  	
  	<insert id="setFile" parameterType="BoardFilesDTO">
  		INSERT INTO NOTICEFILES VALUES(FILES_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
  	</insert>
  	
  	
  	<select id="getCount" resultType="java.lang.Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM NOTICE
  		 
			<if test="kind == 'num'">WHERE num LIKE '%' || #{search} || '%' ORDER BY NUM DESC</if>
			<if test="kind == 'title'">WHERE title LIKE '%' || #{search} || '%' ORDER BY NUM DESC</if>
			<if test="kind == 'contents'">WHERE contents LIKE '%' || #{search} || '%' ORDER BY NUM DESC</if>
			<if test="kind == 'writer'">WHERE writer LIKE '%' || #{search} || '%' ORDER BY NUM DESC</if>
			
  	</select>
  	
  	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
  		SELECT * FROM
		    (SELECT ROWNUM R, BK.* FROM 
		            (SELECT * 
		            FROM NOTICE
		            WHERE 
					
					<choose>
						<when test="kind == 'num'">
							num
						</when>
						<when test="kind == 'title'">
							title
						</when>
						<when test="kind == 'contents'">
							contents
						</when>
						<otherwise>
							writer
						</otherwise>
					</choose>

					LIKE '%' || #{search} || '%' 
		            ORDER BY NUM DESC
		            ) 
		        BK
		    )
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<resultMap type="NoticeDTO" id="getSelectResult">
  		<id column="num" property="num"/>
  		<result column="title" property="title"/>
  		<result column="contents" property="contents"/>
  		<result column="writer" property="writer"/>
  		<result column="regDate" property="regDate"/>
  		<result column="hits" property="hits"/>
  		
  		<!-- 1:N 관계, DTO내에 List가 멤버변수로 선언 -->
  		<collection property="files" javaType="List" ofType="BoardFilesDTO">
  			<id column="fileNum" property="fileNum"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  		</collection>
  	</resultMap>
  	
  	<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult">
  		SELECT * FROM NOTICE N LEFT JOIN NOTICEFILES NF USING (NUM)
		WHERE NUM=#{num}
  	</select>
  	
  	<select id="getFiles" parameterType="BoardDTO" resultType="BoardFilesDTO">
  		select * from noticeFiles where num=#{num}
  	</select>
  	
  	<insert id="setInsert" parameterType="BoardDTO">
  		<selectKey order="BEFORE" resultType="Long" keyProperty="num">
  			select notice_seq.nextval from dual
  		</selectKey>
  		INSERT INTO NOTICE(NUM, TITLE, CONTENTS, WRITER) VALUES(#{num}, #{title}, #{contents}, #{writer})	
  	</insert>
  	
  	<delete id="setDelete" parameterType="BoardDTO">
  		DELETE NOTICE WHERE NUM=#{num}
  	</delete>
  	
  	<update id="setUpdate" parameterType="BoardDTO">
  		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents}, WRITER=#{writer} WHERE NUM=#{num}
  	</update>
  	
  	<update id="setHitsUpdate" parameterType="BoardDTO">
  		UPDATE NOTICE SET HITS = HITS+1 WHERE NUM=#{num}
  	</update>
  </mapper>