<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.bh.b4.board.qna.QnaDAO">
  
  	<insert id="setFile">
  		INSERT INTO QNAFILES VALUES(FILES_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
  	</insert>
  	
  	<select id="getCount" resultType="java.lang.Long" parameterType="com.bh.b4.util.Pager">
  		SELECT COUNT(NUM) FROM QNA
  		WHERE 
			<choose>
				<when test="kind == 'num'">
					num
				</when>
				<when test="kind == 'title'">
					title
				</when>
				<when test="kind == 'contents'">
					contents
				</when>
				<otherwise>
					writer
				</otherwise>
			</choose>

			LIKE '%' || #{search} || '%' 
		    ORDER BY NUM DESC
  	</select>
  	
  	<select id="getList" parameterType="com.bh.b4.util.Pager" resultType="QnaDTO">
  		SELECT * FROM
		    (SELECT ROWNUM R, BK.* FROM 
		            (SELECT * 
		            FROM QNA
		            WHERE 
					
					<choose>
						<when test="kind == 'num'">
							num
						</when>
						<when test="kind == 'title'">
							title
						</when>
						<when test="kind == 'contents'">
							contents
						</when>
						<otherwise>
							writer
						</otherwise>
					</choose>

					LIKE '%' || #{search} || '%' 
		            ORDER BY REF DESC, STEP ASC
		            ) 
		        BK
		    )
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getFiles" parameterType="BoardDTO" resultType="BoardFilesDTO">
  		SELECT * FROM QNAFILES WHERE NUM=#{num}
  	</select>
  	
  	<select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO">
  		SELECT * FROM QNA WHERE NUM=#{num}
  	</select>
  	
  	<insert id="setInsert" parameterType="BoardDTO">
  		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
  			select qna_seq.nextval from dual
  		</selectKey>
  		INSERT INTO QNA VALUES(#{num}, #{title}, #{contents}, #{writer}, SYSDATE, 0, QNA_SEQ.CURRVAL, 0, 0)	
  	</insert>
  	
  	<delete id="setDelete" parameterType="BoardDTO">
  		DELETE QNA WHERE NUM=#{num}
  	</delete>
  	
  	<update id="setUpdate" parameterType="BoardDTO">
  		UPDATE QNA SET TITLE=#{title}, CONTENTS=#{contents}, WRITER=#{writer} WHERE NUM=#{num}
  	</update>
  	
  	<update id="setReplyUpdate" parameterType="QnaDTO">
  		UPDATE QNA SET STEP = STEP+1 WHERE REF=#{ref} AND STEP>#{step} 
  	</update>
  	
  	<insert id="setReply" parameterType="QnaDTO">
  		insert into qna values(QNA_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, SYSDATE, 0, #{ref}, #{step}, #{depth})
  	</insert>
  	
  	<update id="setHitsUpdate" parameterType="BoardDTO">
  		UPDATE QNA SET HITS = HITS+1 WHERE NUM=#{num}
  	</update>
  </mapper>